# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#custome
*.sln
*.filters
*.vcxproj
*.user
*.cmake

CMakeFiles/

EasyServer/.vs/
EasyServer/.idea/
EasyServer/cmake-build-debug/
EasyServer/CMakeCache.txt

EasyClient/.vs/
EasyClient/.idea/
EasyClient/cmake-build-debug/
EasyClient/CMakeCache.txt
