# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#custome
*.sln
*.filters
*.vcxproj
*.user
*.cmake

CMakeFiles/

EasyServer/.vs/
EasyServer/.idea/
EasyServer/EasyServer.dir/
EasyServer/cmake-build-debug/
EasyServer/Debug/
EasyServer/x64/
EasyServer/CMakeCache.txt

EasyClient/.vs/
EasyClient/.idea/
EasyClient/EasyClient.dir/
EasyClient/cmake-build-debug/
EasyClient/Debug/
EasyClient/x64/
EasyClient/CMakeCache.txt
